<div class="mobile-container instruction-page">
  <h1>Au tour de {{player2Name}} !</h1>
  <div class="festive-box">
    <h3>Instructions pour la deuxième personne :</h3>
    <p>{{player1Name}} a fait son choix temporaire et a validé. C'est maintenant
      à
      vous de jouer !</p>
    <ul>
      <li>Vous allez choisir votre circuit et l'offre associée.</li>
      <li>Votre sélection sera confrontée à celle de {{player1Name}} sur la page
        finale.</li>
    </ul>
    <p class="reminder">
      Veuillez prendre le téléphone et continuer.
    </p>
  </div>

  <button [routerLink]="['/choice/2']">
    Je choisis !
  </button>
</div>