<div class="mobile-container reveal-page">
  <div class="festive-box text-center">
    <h2>Votre cadeau d'anniversaire est...</h2>
    <h1 class="gift-name">CONDUIRE DES VOITURES, OOUUUUAAAIIIISS
      !</h1>
  </div>

  <div class="details-box">
    <p>Ce cadeau étant pour vous deux, vous devrez vous mettre d'accord sur le
      choix du circuit et de la voiture.</p>
    <p>Le processus de sélection se fera à tour de rôle sur ce téléphone.</p>
  </div>

  <button [routerLink]="['/instruction/1']">
    Commencer la sélection
  </button>
</div>