<div class="mobile-container instruction-page">
  <h1>🛑 {{ player1Name }} : Attention ! 🛑</h1>
  <div class="festive-box">
    <h3>Instructions pour la première personne :</h3>
    <ul>
      <li>Vous allez faire votre sélection de circuit et d'offre.</li>
      <li>Votre choix sera enregistré.</li>
      <li>Ensuite, vous passerez le téléphone à la deuxième personne pour
        qu'elle fasse son choix.</li>
      <li>Une seule personne à la fois doit voir l'écran à partir de
        maintenant.</li>
    </ul>
  </div>

  <button [routerLink]="['/choice/1']">
    Je commence !
  </button>
</div>